html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Karla";
    box-sizing: border-box;
    color: rgb(65,65,115)
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; 
    height: 100vh;
    background: linear-gradient(
        rgb(200,200,245,.15),
        rgb(200,200,245,.15)
    ),
        url("./simple-flipped.jpg") 
        center / cover no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.loadingContainer {
    height: 75vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 3em;
    width: 3em;
    filter: sepia(80%) hue-rotate(195deg);
    opacity: 70%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-bottom: .5em;
}

.questionsContainer {
    border-bottom: 1px solid rgb(50,50,125,.15)
}

.questionsContainer > p {
    display: flex;
    justify-content: center;
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
    margin-top: .75em;
    margin-bottom: .75em;
    text-wrap: balance;
}

.answersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.25em;
}

.answer {
    cursor: pointer;
    border: 1px solid rgb(50,50,125,.15);
    padding: 5px 15px;
    border-radius: 2em;
    align-items: center;
    justify-items: center;
    font-size: 1.1rem;
    text-align: center;
    text-wrap: balance;
    max-width: 9em;
    display: flex;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(220,220,220);
    
}

.selected {
    background-color: rgb(225,225,255);
    border: 1px solid rgb(195,195,235);
}

.correct {
    font-weight: bold;
    font-size: 1.07rem;
    background-color: rgb(190,255,200,.6);
    border: 1px solid rgb(125,200,125,.6);
    color: rgb(0,100,75,.6);
    transition: 1.25s;
}

.selectedCorrect {
    background-color: rgb(190,255,200);
    border: 1px solid rgb(125,200,125);
    color: rgb(0,100,75);
    box-shadow: 0 1px 3px rgb(0,0,0,.25);
    transition: 1.25s;
}

.selectedWrong {
    background: rgb(255,200,200);
    border: 1px solid rgb(225,175,175);
    color: rgb(165,90,90);
    font-weight: bold;
    font-size: 1.07rem;
    transition: 1.25s;
}

.disabled {
    pointer-events: none;
}

.form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    font-size: 1.15rem;
}

.form > p{
    margin: 0;
}

option{
    text-align: center;
    text-align-last: center;
    border: 1px solid black;
}

select {
    appearance: none;
    text-align: center;
    text-align-last: center;
    padding: 5px 0;
    width: 8.5em;
    border-radius: 2em;
    border: 1px solid rgb(50,50,150, .5);
    margin-top: .35em;
    margin-bottom: 1em;
    font-size: 1rem;
    color: rgb(75,75,135);
    background-color: white;
}

.numberOfQuestions {
    max-width: 4em;
}

.difficulty {
    max-width: 6em;
}

button {
    cursor: pointer;
    border-radius: 2em;
    border: none;
    padding: 13px 23px;
    font-size: 1rem;
    background-color: rgb(100,100,175);
    color: white;
}

.startButton {
    justify-self: center;
    margin-top: .75em;
    margin-bottom: 1.5em;
}

h1 {
    margin: 0;
    opacity: 95%;
}

.title {
    color: rgb(75, 75, 150);
    text-shadow: 0px 1px 2px rgb(0,0,0,.25);
    margin-top: 3.25em;
    margin-bottom: .5em;
}

.category {
    color: rgb(75, 75, 150);
    margin-top: 1em;
    font-size: 1.6rem;
}

.summary {
    margin-top: 1em;
}

.message {
    margin-top: .5em;
    text-align: center;
    text-wrap: balance;
}

.newQuiz {
    margin-top: 1.25em;
    margin-bottom: 6em;
}

.tooMany {
    justify-items: center;
    font-size: 1.1rem;
}

.tooMany > div {
    margin-bottom: .75em;
    text-align: center;
    text-wrap: balance;
}

@media (min-width: 600px) {
    select{
        padding: 5px 2px 5px 0;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .title{
        margin-top: 0;
        margin-bottom: .15em;
    }

    select{
        margin-top: .25em;
        margin-bottom: .5em;
    }

    .startButton {
        margin-bottom: .5em;
    }

    .tooMany {
        margin-bottom: .5em;
    }

    .tooMany > div {
        margin-bottom: .5em;
    }

    .newQuiz {
        margin-bottom: 1em;
    }

     .questionsContainer > p {
       
    }
}

